{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="container">
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show">
      <strong>Success!</strong> {{ message }}
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}

