  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Microblog</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" href='#' data-toggle="dropdown">
              {{ current_user.username|title }}
            </a>
            <div class="dropdown-menu">
              <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

