<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  {% if title %}
  <title>{{ title }} - Microblog</title>
  {% else %}
  <title>Welcom to Microblog!</title>
  {% endif %}
</head>
<body>
  {% include '_navbar.html' %}

  {% include '_messages.html' %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <footer class="text-center">
    <div class="container">
      <div>Copyright &copy; 2018 by Lisicyn Roman</div>
      <div>E-mail: <a href="mailto:roma836429@gmail.com">roma836429@gmail.com</a></div> 
      </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>
