{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Sign In</h2>
      <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(size=32, class="form-control", placeholder="Enter your username") }}
          {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(size=32, class="form-control", placeholder="Enter your password") }}
          {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>
        <div class="form-check">
          <label class="form-check-label" for="remember_me">
            {{ form.remember_me(class="form-check-input") }} Rememeber me
          </label>
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
