{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Register</h2>
      <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        
        <!-- username -->
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(size=32, class="form-control", placeholder="Enter your username") }}
          {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <!-- email -->
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(size=64, class="form-control", placeholder="Enter your email") }}
          {% for error in form.email.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>
        
        <!-- password -->
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(size=32, class="form-control", placeholder="Enter your password") }}
          {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <!-- password2 -->
        <div class="form-group">
          {{ form.password2.label }}
          {{ form.password2(size=32, class="form-control", placeholder="Repeat your password") }}
          {% for error in form.password2.errors %}
            <small class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <!-- submit -->
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
