{% extends 'base.html' %}

{% block content %}
  <h1>User {{ user.username }}</h1>
  <img src="{{ user.avatar(128) }}" alt="avatar">
  <p>{{ user.about_me }}</p>
  <p>Last seen on: {{ user.last_seen }}</p>
  {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
  {% endif %}
  <hr>
  {% for post in posts %}
    {% include '_post.html' %}
  {% else %}
    <p>List Posts is Empty!</p>
  {% endfor %}
{% endblock %}
